body {
    color: white;
    background: black;
    text-align: center;
    margin: 0px;
}

header {
    
    border-bottom: solid 2px rgb(226, 223, 18);
}

section {
    background-color: rgb(226, 223, 18);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}